.logo {
    color: $color-white;
    flex: 1;
    
    &__first-word {
        font-size: $font-size-huge;
        font-weight: bolder;
        text-transform: uppercase;
    }
    
    &__second-word {
            font-size: $font-size-bigger;
        }
}