.section {
    padding: 50px 0;
    background-color: $color-grey;
    
    &__portfolio-single {
        margin:60px 0;
    }

    &_bgr_grey {
        
    }

    &_bgr_grey-dark {
        background-color: $color-grey-d; 
    }

    
    &.section_bgr_grey-dark:nth-child(1) {
        background-color: #ececec;
        padding: 0;
    }

    &__title {
        font-size: $font-size-huge;
    }
    
    &__copy {
        font-size: $font-size-base;
    }
    
}