$color-white: #fff;
$color-faded: #f8f8f8;
$color-green: #76c7c0;
$color-green-d: #62b9b0;
$color-green-dd: #528b86;
$color-grey: #f3f3f3;
$color-grey-light: #e5e6e6;
$color-grey-normal: #d9dada;
$color-grey-d: #ececec;
$color-grey-dd: #7f8c8c;
$color-red: #e2534b;
$color-red-light: #e5655d;
$color-black: #3f4646; 
$color-turquose: #777777;

$font-family-base: 'Open Sans';
$font-size-small: 12px;
$font-size-base: 13px;
$font-size-medium: 16px;
$font-size-big: 20px;
$font-size-bigger: 25px;
$font-size-huge: 30px;
$font-size-huger: 40px;
$font-size-tagline: 50px;
$font-size-super: 60px;